
<div class="form-inline">

    <select class="form-control mb-3 col-10" id="deadlineTasks">
        {% set exists = false %}
        {% for deadline in deadlines %}
            {% if deadline.gaugeId == 'issue' %}{% set exists = true %}{% endif %}
        {% endfor %}
        <option value="issue">Issue: {{ issue.name }}  {% if exists == false %}(create new){% endif %}</option>
        {% for task in issue.gauges %}
            {% set exists = false %}
            {% for deadline in deadlines %}
                {% if deadline.gaugeId == task.id %}{% set exists = true %}{% endif %}
            {% endfor %}
            <option value="{{ task.id }}">Task: {{ task.name }} {% if exists == false %}(create new){% endif %}</option>
        {% endfor %}
    </select>

    <button type="button" class="nobtn pointer deadlineDelete col-2 mb-3 d-none"
            value="55" id="deadlineTrash">
        <i class="fas fa-2x fa-trash-alt text-secondary"></i>
    </button>
</div>

<div class="d-none" id="deadlinesData">
    {% for deadline in deadlines %}
        <div id="deadline{{ deadline.gaugeId }}">
            <input type="hidden" value="{{ deadline.startPicker }}">
            <input type="hidden" value="{{ deadline.endPicker }}">
            <input type="hidden" value="{{ deadline.text }}">
            <input type="hidden" value="{{ deadline.id }}">
        </div>
    {% endfor %}
</div>