
<div class="d-flex justify-content-between">
    <h3>Edit gauges:</h3>
    <button type="button" class="close float-right gaugeCloseBtn" aria-label="Close" id="editGaugeCloseBtn">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<br>

<table class="table sortable">
    <tbody>
        {% for gauge in gauges %}
            <tr draggable="true" rel="{{ gauge.id }}">
                <td>
                    <h5 style="color: {{ gauge.color }}; cursor: move">{{ gauge.name }}</h5>
                </td>
                <td align="right">
                    <button type="button" class="nobtn gaugeEdit" name="{{ gauge.id }}"
                            data-toggle="tooltip" data-placement="top" title="Edit {{ gauge.name }}">
                        <i class="fas fa-2x fa-edit"></i>
                    </button>
                </td>
                <td class="align-right">
                    <button type="button" class="nobtn gaugeDelete" name="{{ gauge.id }}"
                            data-toggle="tooltip" data-placement="top" title="Delete {{ gauge.name }}">
                        <i class="fas fa-2x fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>