{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="{{ asset('build/graph-edit.css') }}" />
    <script src="{{ asset('build/chart.js') }}"></script>
    <script src="{{ asset('build/chart-resizable.js') }}"></script>
    <script src="{{ asset('build/fonts.js') }}"></script>
    <script>
        // Variable used in chart-resizable to get route to Ajax respond
        var path_ajax_graphChange = '{{ (path('issue_ajax_graphChange')) }}';
        var path_ajax_graphDiscard = '{{ (path('issue_ajax_graphDiscard')) }}';
        var path_ajax_graphComment = '{{ (path('issue_ajax_graphComment')) }}';
        var path_ajax_newGauge = '{{ (path('issue_ajax_newGauge')) }}';
        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        display: false,
                        max: 100,
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    gridLines : {
                        display : false
                    }
                }]
            },
            hover: {
                onHover: function(e, el) {
                    var chart = document.getElementById("animatedChart");
                    if(typeof el[0] === 'object')
                        chart.style.cursor = "ns-resize";
                    else
                        chart.style.cursor = "default";
                }
            },
            legend: {
                display : false
            },
            tooltips: {
                custom: function(tooltip) {
                    if (!tooltip) return;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        return ' '+tooltipItem.xLabel;
                    },
                    // remove title
                    title: function(tooltipItem, data) {}
                }
            }
        };
    </script>
{% endblock %}

{% block body %}

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>{{  issue.name }}</h1>
        <div class="row">
            <div class="col-md-5">
                <div class="dropdown">
                    <button type="button" class="nobtn float-right mb-2 ml-2 dropdown-toggle" id="gaugeEditBtn"

                            data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        <i class="fas fa-2x fa-cog "></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
                <button type="button" class="nobtn float-right mb-2" id="gaugeAddNewBtn"
                        data-toggle="tooltip" data-placement="top" title="Add a new gauge">
                    <i class="fas fa-2x fa-plus-circle"></i>
                </button>
                <div id="gaugeGraph">
                {{ include('graphs/graph.html.twig',
                    { 'gauges': issue.gauges,
                    'gauge_name': 'animatedChart',
                    'issue_id': issue.id}) }}
                </div>
            </div>
            <div class="col-md-7">
                <div id="gaugeCommentSection"  style="display: block">
                    <div class="media mb-5" id="gaugeChangeCommit" style="display: none">
                        <i class="far fa-2x fa-user-circle align-self-start mr-5"></i>
                        <div class="media-body">
                            <h5 class="mt-0" id="gaugeCommentHeadline">Media heading</h5>
                            <textarea class="form-control" id="gaugeCommentText" rows="2"></textarea>
                        </div>
                        <div class="align-self-end mx-2">
                            <button class="btn btn-success" id="gaugeChangeConfirmBtn"><i class="fas fa-check"></i></button>
                        </div>
                        <div class="align-self-start mr-0">
                            <button class="btn btn-danger" id="gaugeChangeResetBtn"><i class="fas
                            fa-times"></i></button>
                        </div>
                        <hr>
                    </div>
                    <div id="gaugeComments">
                        {% for change in changes %}
                            {{ include('issue/edit-comment.html.twig', {'change': change}) }}
                        {% endfor %}
                    </div>
                    <button class="btn btn-secondary mx-auto" style="display: none; width: 130px;"
                            id="gaugeCommentShowAllBtn"><i class="fas fa-sync"></i> Show all</button>
                </div>

                <div id="gaugeNewSection" style="display: none">
                    <div class="d-flex justify-content-between">
                        <h3>Add a new gauge</h3>
                        <button type="button" class="close float-right" aria-label="Close" id="gaugeAddNewCloseBtn">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="text" class="form-control" placeholder="Gauge name" id="gaugeAddNewName">
                    <br>

                    <h4>Choose gauge color:</h4>
                    <form id="gaugeAddNewForm">
                        <label class="container">
                            <input type="radio" name="radio" value="900c3f" checked="checked">
                            <span class="checkmark color900c3f"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="c70039"><span class="checkmark colorc70039"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="ff5733"><span class="checkmark colorff5733"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="ff8d1a"><span class="checkmark colorff8d1a"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="ffc300"><span class="checkmark colorffc300"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="eddd53"><span class="checkmark coloreddd53"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="add45c"><span class="checkmark coloradd45c"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="57c785"><span class="checkmark color57c785"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="00baad"><span class="checkmark color00baad"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="2a7b9b"><span class="checkmark color2a7b9b"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="3d3d6b"><span class="checkmark color3d3d6b"></span>
                        </label>
                        <label class="container">
                            <input type="radio" name="radio" value="511849"><span class="checkmark color511849"></span>
                        </label>
                    </form>

                    <br>
                    <button class="btn btn-success mx-auto" style="display: block; width: 130px;"
                            id="gaugeAddNewSaveBtn">Save gauge</button>
                </div>

            </div>
            </div>
        </div>

    </main>

{% endblock %}