{% extends 'base.html.twig' %}

{% block title %}
    {{ issue.name }} - {{ issue.board.name }}
{% endblock %}

{% block menu %}
    {% set board = issue.board %}
    {{  parent() }}
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <script src="{{ asset('build/chart.js') }}"></script>
    {% if issue.canUserWrite %}
        <script src="{{ asset('build/chart-resizable.js') }}"></script>
        <script src="{{ asset('build/datepickerjs.js') }}"></script>
    {% endif %}
    <script src="{{ asset('build/sharing.js') }}"></script>
    <script src="{{ asset('build/typeahead.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/datepicker.css') }}" />
    <script>
        // Variable used in chart-resizable to get route to Ajax respond
        var path_ajax_graphChange = '{{ (path('issue_ajax_graphChange')) }}';
        var path_ajax_graphDiscard = '{{ (path('issue_ajax_graphDiscard')) }}';
        var path_ajax_graphComment = '{{ (path('issue_ajax_graphComment')) }}';
        var path_ajax_newGauge = '{{ (path('issue_ajax_newGauge')) }}';
        var path_ajax_gaugesInfo = '{{ (path('issue_ajax_gaugesInfo')) }}';
        var path_ajax_oneGaugeInfo = '{{ (path('issue_ajax_oneGaugeInfo')) }}';
        var path_ajax_gaugeUpdate = '{{ (path('issue_ajax_gaugeUpdate')) }}';
        var path_ajax_issueUpdate = '{{ (path('issue_ajax_issueUpdate')) }}';
        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        display: false,
                        max: 100,
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    gridLines : {
                        display : false
                    }
                }]
            },
            hover: {
                {% if issue.canUserWrite %}
                    onHover: function(e, el) {
                        var chart = document.getElementById("animatedChart");
                        if(typeof el[0] === 'object')
                            chart.style.cursor = "ns-resize";
                        else
                            chart.style.cursor = "default";
                    }
                {% endif %}
            },
            legend: {
                display : false
            },
            tooltips: {
                custom: function(tooltip) {
                    if (!tooltip) return;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        return ' '+tooltipItem.xLabel;
                    },
                    // remove title
                    title: function(tooltipItem, data) {}
                }
            }
        };
    </script>
{% endblock %}

{% block body %}
    <main role="main" class="col-sm-12 pt-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="clearfix">
                    <h2 id="issueName" class="float-left" style="max-width: {% if issue.canUserManage %}60%{% else %}75%{% endif %}">
                        <span class="overflow-text" title="{{ issue.name }}">{{ issue.name }}</span>
                        <input type="hidden" id="issueId" value="{{ issue.pageId }}">
                    </h2>
                    <div class="float-right row">
                        {% if issue.canUserWrite %}
                            <button type="button" class="nobtn mx-2 startTooltip pointer" id="gaugeAddNewBtn"
                                    value="{{ gaugeCount }}"
                                    data-toggle="tooltip" data-placement="bottom" title="Add a new task">
                                <i class="fas fa-2x fa-plus"></i>
                            </button>
                            <button type="button" class="nobtn mx-2 startTooltip pointer" id="dropdownDeadlineNew"
                                    value="{{ gaugeCount }}"
                                    data-toggle="tooltip" data-placement="bottom" title="Create new deadline">
                                <i class="fas fa-2x fa-stopwatch"></i>
                            </button>
                        {% elseif issue.shareRights is constant('App\\Entity\\Issue::ROLE_ANON') %}
                            <button type="button" class="nobtn mx-2 startTooltip" disabled
                                    data-toggle="tooltip" data-placement="bottom" title="Must login to edit">
                                <i class="fas fa-2x fa-plus"></i>
                            </button>
                        {% endif %}
                        {% if issue.canUserManage or (issue.isShareEnabled and issue.thisuserrights.issuehistory is not
                        null)%}
                            <span class="startTooltip" data-toggle="tooltip"
                                    data-placement="bottom" title="Share with other users">
                                <button type="button" class="nobtn mx-2 pointer"
                                        data-id="{{ issue.pageId }}"
                                        data-toggle="modal" data-target="#modalIssueShare">
                                    <i class="fas fa-2x fa-share"></i>
                                </button>
                            </span>
                            <div class="modal fade modalShareIssue" tabindex="-1" role="dialog" aria-hidden="true"
                                 id="modalIssueShare">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p><i class="fas fa-spinner fa-spin"></i> Loading data ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if issue.canUserWrite %}
                            <span class="startTooltip" data-toggle="tooltip" id="settingsTooltip"
                                  data-placement="bottom" title="Settings">
                                <div class="dropdown mx-2">
                                    <button type="button" class="nobtn pointer" id="gaugeEditBtn"
                                            data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                                        <i class="fas fa-2x fa-cog"></i>
                                    </button>
                                    <div class="dropdown-menu my-dropdown dropdown-menu-right mt-2"
                                         aria-labelledby="gaugeEditBtn" >
                                        <a class="dropdown-item pointer" id="dropdownGaugeBtn">Edit tasks</a>
                                        <a class="dropdown-item pointer" id="dropdownIssueBtn">Edit issue</a>
                                        <a class="dropdown-item pointer" id="dropdownRemindersBtn">Reminders</a>
                                    </div>
                                </div>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div id="gaugeGraph">
                {{ include('graphs/graph.html.twig',
                    { 'gauges': issue.gauges,
                    'gauge_name': 'animatedChart',
                    'issue_id': issue.id}) }}
                </div>
                <div id="issueDeadlines" class="mt-4">
                    {% for deadline in deadlines %}
                        {{ include('issue/deadline.html.twig', {'deadline': deadline, 'issue': issue}) }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6" id="gaugeSections">
                <div id="gaugeCommentSection" class="section" style="display: block">
                    {{ include('issue/commentsTab.html.twig', {'changes': changes}) }}
                </div>
                <div id="questionSection" class="section" style="display: none">
                    {{ include('issue/question.html.twig') }}
                </div>
                <div id="gaugeNewSection" class="section" style="display: none">
                    {{ include('issue/newGaugeTab.html.twig') }}
                </div>
                <div id="gaugeEditOneSection" class="section" style="display: none">
                </div>
                <div id="gaugeEditGaugeSection" class="section" style="display: none">
                </div>
                <div id="gaugeEditIssueSection" class="section" style="display: none">
                    {{ include('issue/editIssueTab.html.twig', {'issue': issue}) }}
                </div>
                <div id="IssueReminderSection" class="section" style="display: none">
                    <i class="fas fa-spinner fa-spin"></i> Loading ...
                </div>
                <div id="IssueDeadlinesSection" class="section" style="display: none">
                    {{ include('issue/deadlinesTab.html.twig', {'issue': issue}) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}