{% extends 'base.html.twig' %}

{% block title %}
    {{ issue.name }} - {{ issue.board.name }}
{% endblock %}

{% block menu %}
    {% set board = issue.board %}
    {{  parent() }}
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <script src="{{ asset('build/chart.js') }}"></script>
    {% if issue.canUserEditGauge %}
        <script src="{{ asset('build/chart-resizable.js') }}"></script>
        <script src="{{ asset('build/typeahead.js') }}"></script>
    {% endif %}
    {% if issue.canUserManage %}
        <script src="{{ asset('build/datepickerjs.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('build/datepicker.css') }}" />
    {% endif %}
    <script src="{{ asset('build/issue.js') }}"></script>
    <script src="{{ asset('build/sharing.js') }}"></script>
    <script>
        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        display: false,
                        max: 100,
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    gridLines : {
                        display : false
                    }
                }]
            },
            hover: {
                {% if issue.canUserEditGauge %}
                    onHover: function(e, el) {
                        var chart = document.getElementById("animatedChart");
                        if(typeof el[0] === 'object') {
                            {% if issue.canUserWrite %}
                                chart.style.cursor = "ns-resize";
                            {% else %} // if user has right only to some of the gauges
                              // get element with all rights and check users rights to this gauge
                              if(document.getElementById('gaugeRights').childNodes[el[0]._index].dataset.rights === '1')
                                  chart.style.cursor = "ns-resize";
                              else
                                  chart.style.cursor = "not-allowed";
                            {% endif %}
                        }
                        else
                            chart.style.cursor = "default";
                    }
                {% endif %}
            },
            legend: {
                display : false
            },
            tooltips: {
                custom: function(tooltip) {
                    if (!tooltip) return;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        return ' '+tooltipItem.xLabel;
                    },
                    // remove title
                    title: function(tooltipItem, data) {}
                }
            }
        };
    </script>
{% endblock %}

{% block body %}
    <main role="main" class="col-sm-12 pt-3">
        <div class="row">
            <div class="col-lg-6">
                <div class="clearfix">
                    <h2 id="issueName" class="float-left text-smallcaps"
                        style="max-width: {% if issue.canUserManage %}50%{% else %}75%{% endif %}">
                        <span class="overflow-text" title="{{ issue.name }}">{{ issue.name }}</span>
                        <input type="hidden" id="issueId" value="{{ issue.pageId }}">
                    </h2>
                    <div class="float-right row">
                        {% if issue.canUserWrite %}
                            <button type="button" class="nobtn mx-2 startTooltip pointer" id="gaugeAddNewBtn"
                                    value="{{ gaugeCount }}"
                                    data-toggle="tooltip" data-placement="top" title="{% trans %}tooltip_newTask{% endtrans %}">
                                <i class="fas fa-2x fa-plus"></i>
                            </button>
                        {% elseif issue.thisuserrights.rights is constant('App\\Entity\\Issue::ROLE_WRITE')
                             and issue.shareRights is constant('App\\Entity\\Issue::ROLE_ANON') %}
                            <span class="startTooltip" data-toggle="tooltip"
                                  data-placement="top" title="{% trans %}tooltip_login{% endtrans %}">
                                <button type="button" class="nobtn mx-2" disabled>
                                    <i class="fas fa-2x fa-plus"></i>
                                </button>
                            </span>
                        {% endif %}
                        {% if issue.canUserManage %}
                            <button type="button" class="nobtn mx-2 startTooltip pointer" id="dropdownDeadlineNew"
                                    value="{{ gaugeCount }}"
                                    data-toggle="tooltip" data-placement="top" title="{% trans %}tooltip_deadlines{% endtrans %}">
                                <i class="fas fa-2x fa-stopwatch"></i>
                            </button>
                            <span class="startTooltip" data-toggle="tooltip" id="settingsTooltip"
                                  data-placement="top" title="{% trans %}tooltip_users{% endtrans %}">
                                <div class="dropdown mx-2">
                                    <button type="button" class="nobtn pointer" id="gaugeEditBtn"
                                            data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                                        <i class="fas fa-2x fa-users"></i>
                                    </button>
                                    <div class="dropdown-menu my-dropdown dropdown-menu-right mt-2"
                                         aria-labelledby="gaugeEditBtn">
                                        <button class="btn-link dropdown-item pointer"
                                           data-id="{{ issue.pageId }}"  data-color="secondary"
                                           data-toggle="modal" data-target="#modalIssueShare">
                                            {% trans %}btn_share{% endtrans %} {% trans %}issue{% endtrans %}
                                        </button>
                                        <button class="btn-link dropdown-item pointer"
                                                data-id="{{ issue.pageId }}" data-color="#secondary"
                                                data-toggle="modal" data-target="#modalIssueUsers">
                                           {% trans %}btn_manage_users{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </span>
                            <div class="modal fade modalIssueUsers" tabindex="-1" role="dialog" aria-hidden="true"
                                 id="modalIssueUsers">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-light" id="modalEntityUsersHeader">
                                            <h4 class="modal-title">{% trans %}btn_manage_users{% endtrans %}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <i class="fas fa-spinner fa-spin float-right"
                                               id="usersIndividualLoading" style="display: none"></i>
                                            <span class="text-secondary">List of all users with rights to this issue.</span>
                                            <div id="modalIssueUsersBody">
                                                <i class="fas fa-spinner fa-spin"></i> {% trans %}loading{% endtrans %}
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <button class="btn btn-primary float-left pointer" data-dismiss="modal">
                                                    {% trans %}btn_done{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif not issue.board.isArchived and
                            (issue.canUserManage
                            or (issue.canUserRead
                                and issue.isShareEnabled
                                 and issue.sharerights  is  constant ('App\\Entity\\Issue::ROLE_READ'))
                            or ( issue.canUserWrite and issue.isShareEnabled)) %}
                            <span class="startTooltip" data-toggle="tooltip"
                                    data-placement="top" title="{% trans %}tooltip_share{% endtrans %}">
                                <button type="button" class="nobtn mx-2 pointer"
                                        data-id="{{ issue.pageId }}" data-color="secondary"
                                        data-toggle="modal" data-target="#modalIssueShare">
                                    <i class="fas fa-2x fa-share"></i>
                                </button>
                            </span>
                        {% endif %}
                        <div class="modal fade modalShareIssue" tabindex="-1" role="dialog" aria-hidden="true"
                             id="modalIssueShare">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p><i class="fas fa-spinner fa-spin"></i> {% trans %}loading{% endtrans %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if issue.canUserManage %}
                            <span class="startTooltip" data-toggle="tooltip" id="settingsTooltip"
                                  data-placement="top" title="{% trans %}btn_settings{% endtrans %}">
                                <div class="dropdown mx-2">
                                    <button type="button" class="nobtn pointer" id="gaugeEditBtn"
                                            data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                                        <i class="fas fa-2x fa-cog"></i>
                                    </button>
                                    <div class="dropdown-menu my-dropdown dropdown-menu-right mt-2"
                                         aria-labelledby="gaugeEditBtn" >
                                        <a class="dropdown-item pointer" id="dropdownGaugeBtn">
                                            {% trans %}btn_edit{% endtrans %} {% trans %}gauges{% endtrans %}</a>
                                        <a class="dropdown-item pointer" id="dropdownIssueBtn">
                                            {% trans %}btn_edit{% endtrans %} {% trans %}issue{% endtrans %}</a>
                                        <a class="dropdown-item pointer" id="dropdownRemindersBtn">
                                            {% trans %}btn_reminders{% endtrans %}</a>
                                    </div>
                                </div>
                            </span>
                        {% elseif issue.canUserEditGauge %}
                            <button type="button" class="nobtn mx-2 startTooltip pointer" id="dropdownGaugeBtn"
                                    data-toggle="tooltip" data-placement="top"
                                    title="{% trans %}btn_edit{% endtrans %} {% trans %}gauges{% endtrans %}">
                                <i class="fas fa-2x fa-edit"></i>
                            </button>
                        {% endif %}
                    </div>
                </div>
                <div id="gaugeGraph">
                {{ include('graphs/graph.html.twig',
                    { 'gauges': issue.gauges,
                    'gauge_name': 'animatedChart',
                    'issue_id': issue.id}) }}
                </div>
                <div id="issueDeadlines" class="mt-md-4 mb-3">
                    {{ include('issue/deadlineList.html.twig', {'deadlines': deadlines, 'issue': issue}) }}
                </div>
            </div>
            <div class="col-lg-6" id="gaugeSections">
                <div id="gaugeCommentSection" class="section" style="display: block">
                    {{ include('issue/commentsTab.html.twig', {'changes': changes}) }}
                </div>
                <div id="questionSection" class="section" style="display: none">
                    {{ include('issue/question.html.twig') }}
                </div>
                <div id="gaugeNewSection" class="section" style="display: none">
                    {{ include('issue/newGaugeTab.html.twig') }}
                </div>
                <div id="gaugeEditOneSection" class="section" style="display: none">
                </div>
                <div id="gaugeEditGaugeSection" class="section" style="display: none">
                </div>
                <div id="gaugeEditIssueSection" class="section" style="display: none">
                    {{ include('issue/editIssueTab.html.twig', {'issue': issue}) }}
                </div>
                <div id="IssueReminderSection" class="section" style="display: none">
                    <i class="fas fa-spinner fa-spin"></i> Loading ...
                </div>
                <div id="IssueDeadlinesSection" class="section" style="display: none">
                    {{ include('issue/deadlinesTab.html.twig', {'issue': issue, 'deadlines': deadlines}) }}
                </div>
            </div>
        </div>
        {% if tips is defined and tips|length > 0 %}
            {{ include('issue/tips.html.twig', {'tips': tips}) }}
        {% endif %}
    </main>
    <div id="gaugeRights">{% for gauge in gaugeEdit %}<span data-rights="{{ gauge }}"></span>{% endfor %}</div>
{% endblock %}