{% if tips is defined and tips|length > 0 %}
    {% set showCreateNewTaskTip = false %}
    {% set showEditGaugeTip = false %}
    {% set showMakeCommentTip = false %}
    {% set showDeadlinesTip = false %}
    {#{% set showNewDeadlineTip = false %}#}
    {% set showRemindersTip = false %}
    {% for tip in tips %}
        {% if tip.name == "createNewTask" %}{% set showCreateNewTaskTip = true %}{% endif %}
        {% if tip.name == "editGauge" %}{% set showEditGaugeTip = true %}{% endif %}
        {% if tip.name == "makeComment" %}{% set showMakeCommentTip = true %}{% endif %}
        {% if tip.name == "deadlines" %}{% set showDeadlinesTip = true %}{% endif %}
        {#{% if tip.name == "newDeadline" %}{% set showNewDeadlineTip = true %}{% endif %}#}
        {% if tip.name == "reminders" %}{% set showRemindersTip = true %}{% endif %}
    {% endfor %}
    {% if issue.gauges|length == 0 and issue.canUserWrite %}
        {% if showCreateNewTaskTip == true %}
            <input type="hidden" id="startTips" value="createNewTask">
            <div class="tips-text-left-50 d-none mt-5" id="createNewTaskTipBig">
                <button type="button" class="nobtn mx-2 startTooltip tipsHideForever float-right"
                        data-toggle="tooltip" data-placement="bottom" title="{% trans %}hide_title{% endtrans %}">
                    {% trans %}hide_text{% endtrans %}
                </button>
                <p>{% trans %}tip_issue_task_1{% endtrans %}</p>
                <p>{% trans %}tip_issue_task_2{% endtrans %}</p>
                <img src="{{ asset('build/images/arrow_right.5edbcee1.png') }}"
                     width="150px" class="float-right">
                <span class="float-right mt-3 mr-4 pointer text-light tips-check">
                    <i class="fas fa-check"></i> {% trans %}tip_ok_1{% endtrans %}
                </span>
            </div>
            <div class="tips-text-top-50 d-none" style="top: 30%" id="createNewTaskTipSmall">
                <div class="d-flex justify-content-end">
                    <button type="button" class="nobtn startTooltip tipsHideForever">
                        {% trans %}hide_text{% endtrans %}
                    </button>
                </div>
                <p>{% trans %}tip_issue_task_1{% endtrans %}</p>
                <span class="float-right mt-3 mr-4 pointer text-light tips-check">
                    <i class="fas fa-check"></i> {% trans %}tip_ok_1{% endtrans %}
                </span>
                <img src="{{ asset('build/images/arrow_bottom.7e2b342f.png') }}" width="150px" class="ml-5">
            </div>
        {% endif %}
    {% endif %}
    {% if showEditGaugeTip == true %}
        <div class="tips-text-right-50 d-none" id="editGaugeTipBig">
            <p>{% trans %}tip_issue_edit{% endtrans %}</p>
            <img src="{{ asset('build/images/arrow_bottom.7e2b342f.png') }}" width="150px">
            <span class="float-right mt-3 mr-4 pointer text-light tips-check">
                <i class="fas fa-check tips-check"></i> {% trans %}tip_ok_3{% endtrans %}
            </span>
        </div>
        <div class="tips-text-top-50 d-none" style="top: 30%" id="editGaugeTipSmall">
            <div class="text-center">
                <p>{% trans %}tip_issue_edit{% endtrans %}</p>
                <img src="{{ asset('build/images/arrow_bottom.7e2b342f.png') }}" width="150px">
            </div>
            <span class="float-right mr-4 pointer text-light tips-check">
                <i class="fas fa-check"></i> {% trans %}tip_ok_3{% endtrans %}
            </span>
        </div>
    {% endif %}
    {% if showMakeCommentTip == true %}
        <div class="tips-text-left-50 d-none mt-5" id="makeCommentTipBig">
            <div class="d-flex justify-content-between">
                <p>{% trans %}tip_issue_comment_1{% endtrans %}</p>
                <button type="button" class="nobtn mx-2 startTooltip tipsHideForever"
                        data-toggle="tooltip" data-placement="bottom" title="{% trans %}hide_title{% endtrans %}">
                    {% trans %}hide_text{% endtrans %}
                </button>
            </div>
            <p>{% trans %}tip_issue_comment_2{% endtrans %}</p>
            <img src="{{ asset('build/images/arrow_right.5edbcee1.png') }}"
                 width="150px" class="float-right">
            <span class="float-right mt-3 mr-4 pointer text-light tips-check">
                <i class="fas fa-check"></i> {% trans %}tip_ok_2{% endtrans %}
            </span>
        </div>
        <div class="tips-text-top-50 d-none" style="top: 50%" id="makeCommentTipSmall">
            <div class="d-flex justify-content-between">
                <p>{% trans %}tip_issue_comment_1{% endtrans %}</p>
                <button type="button" class="nobtn mx-2 tipsHideForever">
                    {% trans %}hide_text{% endtrans %}
                </button>
            </div>
            <div class="text-center">
                <img src="{{ asset('build/images/arrow_bottom.7e2b342f.png') }}" width="150px">
            </div>
            <span class="float-right mr-4 pointer text-light tips-check">
                <i class="fas fa-check"></i> {% trans %}tip_ok_2{% endtrans %}
            </span>
        </div>
    {% endif %}
    {% if showDeadlinesTip == true %}
        <div class="tips-text-left-50 d-none mt-5" id="deadlinesTipBig">
            <div class="d-flex justify-content-between">
                <p>{% trans %}tip_issue_deadline_1{% endtrans %}</p>
                <button type="button" class="nobtn mx-2 startTooltip tipsHideForever"
                        data-toggle="tooltip" data-placement="bottom" title="{% trans %}hide_title{% endtrans %}">
                    {% trans %}hide_text{% endtrans %}
                </button>
            </div>
            <p>{% trans %}tip_issue_deadline_2{% endtrans %}</p>
            <img src="{{ asset('build/images/arrow_right.5edbcee1.png') }}"
                 width="150px" class="float-right">
            <span class="float-right mt-3 mr-4 pointer text-light tips-check">
                <i class="fas fa-check"></i> {% trans %}tip_ok_1{% endtrans %}
            </span>
        </div>
        <div class="tips-text-top-50 d-none" style="top: 40%" id="deadlinesTipSmall">
            <div class="d-flex justify-content-end">
                <button type="button" class="nobtn mx-2 tipsHideForever">
                    {% trans %}hide_text{% endtrans %}
                </button>
            </div>
            <p>{% trans %}tip_issue_deadline_1{% endtrans %}</p>
            <div class="text-center">
                <img src="{{ asset('build/images/arrow_bottom.7e2b342f.png') }}" width="150px">
            </div>
            <span class="float-right mr-4 pointer text-light tips-check">
                <i class="fas fa-check"></i> {% trans %}tip_ok_1{% endtrans %}
            </span>
        </div>
    {% endif %}
    {% if showRemindersTip == true %}
        <div class="tips-text-left-50 d-none mt-5" id="remindersTipBig">
            <div class="d-flex justify-content-end">
                <button type="button" class="nobtn mx-2 startTooltip tipsHideForever"
                        data-toggle="tooltip" data-placement="bottom" title="{% trans %}hide_title{% endtrans %}">
                    {% trans %}hide_text{% endtrans %}
                </button>
            </div>
            <p>{% trans %}tip_issue_reminder{% endtrans %}</p>
            <img src="{{ asset('build/images/arrow_right.5edbcee1.png') }}"
                 width="150px" class="float-right">
            <span class="float-right mt-3 mr-4 pointer text-light tips-check">
                <i class="fas fa-check"></i> {% trans %}tip_ok_1{% endtrans %}
            </span>
        </div>
        <div class="tips-text-top-50 d-none" style="top: 40%" id="remindersTipSmall">
            <div class="d-flex justify-content-end">
                <button type="button" class="nobtn mx-2 tipsHideForever">
                    {% trans %}hide_text{% endtrans %}
                </button>
            </div>
            <p class="pl-3">{% trans %}tip_issue_reminder{% endtrans %}</p>
            <div class="text-center">
                <img src="{{ asset('build/images/arrow_bottom.7e2b342f.png') }}" width="150px">
            </div>
            <span class="float-right mr-4 pointer text-light tips-check">
                <i class="fas fa-check"></i> {% trans %}tip_ok_1{% endtrans %}
            </span>
        </div>
    {% endif %}
{% endif %}