<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/graph.59420c62.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        {#<script src="{{ asset('build/bootjs.js') }}"></script>#}
        {#<script src="{{ asset('build/app-bundle.js') }}"></script>#}
        <script src="{{ asset('build/fonts-all.js') }}"></script>
        <script src="{{ asset('build/fonts-solid.js') }}"></script>
        {% if tips is defined and  tips|length > 0 %}
            <script src="{{ asset('build/tips.js') }}"></script>
            <link rel="stylesheet" href="{{ asset('build/tips-style.css') }}" />
        {% endif %}
    {% endblock %}
</head>
<body class="bg-light">
{% block menu %}
    <header>
        <nav id="topNavBar" class="navbar navbar-expand-md navbar-dark fixed-top
            {% if board is defined %}{% if board.isArchived %}bg-secondary{% else %}{{ board.background }}{% endif %}
            {%  else  %}my-primary-dark{% endif %}">
            <div class="container">
                <a href="{{ url('dashboard') }}" class="navbar-brand mr-5">&beta; 1.09</a>
                <div class="btn-group">
                    {% if board is defined %}
                        <a href="../../{{ board.url }}">
                            <button class="btn menubtn text-light pointer
                                {% if board.isArchived %}bg-secondary{% else %}{{ board.background }}{% endif %}"
                                    id="navbarProjectNameBtn">
                                {{ board.name }}
                            </button>
                        </a>
                        <button type="button" id="navbarProjectBtn" data-toggle="dropdown"
                                class="d-none d-md-flex btn menubtn dropdown-toggle dropdown-toggle-split pointer
                                text-light {% if board.isArchived %}bg-secondary{% else %}{{ board.background }}{% endif %}"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only"> {% trans %}others{% endtrans %}</span>
                        </button>
                    {% elseif not(is_granted('ROLE_ANONYMOUS')) or (boards is defined and boards|length > 0) %}
                        <button type="button" class="btn d-none d-md-block menubtn dropdown-toggle pointer text-light
                        my-primary-dark"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarProjectBtn">
                            {% trans %}projects{% endtrans %}
                        </button>
                    {% endif %}
                    <div class="dropdown-menu" id="navbarProjectsBody"></div>
                </div>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <div class="d-flex justify-content-end w-100">
                    {#<div class="d-flex justify-content-between w-100">#}
                        {#<div class="form-inline ml-3">#}
                            {#<div class="btn-group">#}
                                {#<input class="form-control rounded-left" type="search" placeholder="Search"#}
                                       {#aria-label="Search" size="12">#}
                                {#<button class="btn" type="submit">Search</button>#}
                            {#</div>#}
                        {#</div>#}
                        {#<ul class="mx-auto"></ul>#}
                        {% if notifications is defined %}
                            {{ include('navbar-notifications.html.twig', {'notifications': notifications}) }}
                        {% endif %}
                        {{ include('navbar-user.html.twig') }}
                    </div>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="container" id="mainContainer">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
    <div id="tips-overlay"></div>
    {{ include('board/new-modal.html.twig') }}
</div>
<div class="fixed-bottom" >
    <div class="btn-group dropup rounded m-1">
         <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="bugReportBtn"
                 class="btn btn-secondary pointer dropdown-toggle"> Report bug</button>
        <div class="dropdown-menu p-2">
            <label for="bugReportText">This is alpha version of this application. Any feedback will be really
                appreciated.</label>
            <textarea id="bugReportText"></textarea>
            <button class="btn" id="bugReportSend">Send</button>
        </div>
    </div>
</div>

{% block javascripts %}
{% endblock %}
</body>
</html>
