<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        {#<script src="{{ asset('build/app-bundle.js') }}"></script>#}
        <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.231567a8.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
    {% endblock %}
</head>
<body>
{% block menu %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top my-primary-dark">
            <div class="container">
                <a href="{{ url('homepage') }}" class="navbar-brand">Logo</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    {{ include('navbar-user.html.twig') }}
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="container">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
