
<div class="dropdown float-right">
    <button class="nobtn float-right pointer m-0 p-0" data-toggle="dropdown" aria-haspopup="false"
            type="button" aria-expanded="true" id="dropdownMenuNotifications">
        <span class="mr-3">
            <i class="fas fa-bell text-light fa-2x mt-2"></i>
            {% if notifications['count'] > 0 %}
                <span class="fa-layers-counter fa-3x mr-1" id="notificationCount"
                      style="background:Tomato">{{ notifications['count'] }}</span>
            {% endif %}
        </span>
    </button>
    <div class="dropdown-menu my-dropdown mt-2" aria-labelledby="dropdownMenuNotifications"
          style="right: 10px; left: auto;">
        <div class="text-secondary text-center">{% trans %}notifications{% endtrans %}:</div>
        <div class="dropdown-divider"></div>
        {% if notifications['data']|length > 0 %}
            {% for note in notifications['data']  %}
                <div class="dropdown-item">
                    <div class="row">
                        <div class="col-10 pr-5">
                            {% if note.link|length > 0 %}
                                <a href="{{ note.link }}" class="{% if note.isShown %}text-secondary{% else %}text-dark{% endif %}"
                               title="{% if note.isShown %}{% trans %}displayed{% endtrans %} {{ note.shown }} {% else %}{% trans %}created{% endtrans %} {{ note.date }}{% endif %}">
                                {{ note.text | raw }}
                                </a>
                            {% else %}
                                <span class="{% if note.isShown %}text-secondary{% else %}text-dark{% endif %}">
                                    {{ note.text | raw }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-2">
                            <small class="text-secondary " title="{{ note.date }}">
                                {{ note.dateText | raw }}</small>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider m-0"></div>
            {% endfor %}
        {% else %}
            <div class="p-2 text-dark text-center">{% trans %}no_notifications{% endtrans %}</div>
        {% endif %}
    </div>
</div>