
{% if favorite|length > 0 and favorite|length != boards|length %}
    <span class="text-secondary pl-2">Favorite projects</span>
    {% for role in favorite %}
        <div class="m-1">
            <a class="dropdown-item {{ role.board.background }}-light rounded"
               href="../../{{ role.board.url }}"> {{ role.board.name }}
            </a>
        </div>
    {% endfor %}
{% endif %}

<span class="text-secondary pl-2 pt-5">My projects</span>
{% for role in boards %}
    <div class="m-1">
        <a class="dropdown-item {{ role.board.background }}-light rounded"
           href="../../{{ role.board.url }}"> {{ role.board.name }}
        </a>
    </div>
{% endfor %}

 {% if not is_granted('ROLE_ANONYMOUS') %}
    <div class="dropdown-divider"></div>
    <button class="dropdown-item pointer" type="button" data-toggle="modal" data-target="#modalNewBoard">
        Create new project</button>
{% endif %}