{% extends 'base.html.twig' %}

{% block title %}
    {{ board.name }}
{% endblock %}

{% block stylesheets %}
    {{  parent() }}
    <script src="{{ asset('build/chart.js') }}"></script>
    <script src="{{ asset('build/sharing.js') }}"></script>
    <script src="{{ asset('build/board.js') }}"></script>
    <script src="{{ asset('build/typeahead.js') }}"></script>
    {% if board.canUserManage %}
        <script src="{{ asset('build/datepickerjs.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('build/datepicker.css') }}" />
    {% endif %}
    <script>
        var options = {
            scales: {
                yAxes: [{
                    gridLines : {
                        display : false,
                        drawBorder: false
                    },
                    ticks: {
                        display: false,
                        max: 100,
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    gridLines : {
                        display : false
                    },
                    ticks: {
                        maxRotation: 0
                    }
                }]
            },
            legend: {
                display : false
            },
            layout: {
                padding: {
                    left: 0,
                    right: 0,
                    top: 0,
                    bottom: 0
                }
            },
            tooltips: {
                custom: function(tooltip) {
                    if (!tooltip) return;
                },
                callbacks: {
                    // use label callback to return the desired label
                    label: function(tooltipItem, data) {
                        return ' '+tooltipItem.xLabel;
                    },
                    // remove title
                    title: function(tooltipItem, data) {}
                }
            }
        };
    </script>
{% endblock %}

{% block body %}

        <main role="main" class="col-xl-12">
        <div class="clearfix">
            <h1 id="issueName" class="float-left pt-3 pb-0" style="max-width: {% if board.canUserManage %}60%{% else
            %}75%{%
            endif %}">
                <span class="overflow-text" title="{{ board.name }}" id="boardNameH1">{{ board.name }}</span>
                <input type="hidden" id="boardId" value="{{ board.id }}">
            </h1>
            <div class="float-right row">
                {% if not board.isArchived
                    and (board.canUserManage or (board.isShareEnabled and board.thisuserrights.boardhistory is not null)) %}
                    <span class="startTooltip mt-3" data-toggle="tooltip"
                          data-placement="bottom" title="Share with other users">
                        <button class="nobtn pointer" type="button" data-toggle="modal"
                                data-target="#modalShareBoard">
                            <i class="fas fa-2x fa-share"></i>
                        </button>
                    </span>
                    {{ include('board/share-modal.html.twig') }}
                {% endif %}
                <div class="dropdown mx-2 mt-3">
                    <button type="button" class="nobtn dropdown-toggle pointer"
                            data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        <i class="fas fa-2x fa-cog "></i>
                    </button>
                    <div class="dropdown-menu my-dropdown dropdown-menu-right mt-2"
                         aria-labelledby="dropdownMenuButton" >
                        {% if board.canUserManage %}
                            <button class="btn-link dropdown-item pointer" id="boardEditNameBtn"
                                    data-color="{{ board.color }}" data-name="{{ board.name }}" data-id="{{ board.pageId }}"
                                    data-toggle="modal" data-target="#modalNewBoard">Edit project</button>
                            <button class="btn-link dropdown-item pointer" data-target="#modalEntityDelete"
                                    data-name="{{ board.name }}" data-id="{{ board.id }}" data-type="project"
                                    data-color="{{ board.color }}" data-toggle="modal" data-operation="delete">
                                Delete project</button>
                            <button class="btn-link dropdown-item pointer" data-target="#modalEntityDelete"
                                    data-name="{{ board.name }}" data-id="{{ board.id }}" data-type="archive"
                                    data-color="{{ board.color }}" data-operation="archive" data-toggle="modal">
                                Archive project</button>
                            <button class="btn-link dropdown-item pointer" data-target="#modalEntityDuplicate"
                                    data-id="{{ board.id }}" data-color="{{ board.color }}"
                                    data-toggle="modal">Duplicate project</button>
                        {% else %}
                            <button class="btn-link dropdown-item pointer" data-target="#modalLeaveBoard"
                                    data-toggle="modal">Leave project</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">
            {% for issue in board.issues %}
                {% if issue.canUserRead %}
                    <div class="col-md-4 p-0 m-0 mb-4">
                        <div class="card" id="issue-{{ issue.pageId }}">
                            {{ include('board/issue-card.html.twig', { 'issue': issue, 'isArchived': board.isArchived}) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if board.canUserManage %}
                <div class="modal fade" id="modalEntityDelete" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" id="modalEntityDeleteHeader">
                                <h5 class="modal-title" id="modalIssueDeleteTitle"></h5>
                                <button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p id="modalDeleteQuestion"></p>
                                <span class="text-warning"><i class="fas fa-exclamation-triangle"></i>
                            This change will be permanent!</span>
                                <p id="modalIssueDeleteLoading" class="d-none">
                                    <i class="fas fa-spinner fa-spin"></i> Sending ...</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-start">
                                <input type="hidden" id="modalIssueDeleteId" value="">
                                <input type="hidden" id="modalEntityDeleteType" value="">
                                <button type="button" class="btn btn-danger pointer"
                                        id="modalEntityDeleteBtn">Delete</button>
                                <button type="button" class="btn btn-secondary pointer" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalEntityDuplicate" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header" id="modalDuplicateHeader">
                                <h5 class="modal-title">Duplicate {{ board.name }}</h5>
                                <button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Will create the same project with same issues, users and deadlines, but with all
                                    tasks starting at 0%.</p>
                                <label for="modalDuplicateName" class="mb-0">Select new name:</label>
                                <input type="text" placeholder="New project name"
                                       class="form-control mb-3" id="modalDuplicateName">
                                <label for="modalDuplicateStart" class="mb-0">Select starting date:</label>
                                <div id="modalDuplicateDate">
                                    <input type="text" class="form-control w-50"
                                           placeholder="Project starting date" id="modalDuplicateStart">
                                    <p class="text-secondary">All deadlines will start from
                                        this day, but will have the duration of deadlines in this project.</p>
                                </div>
                                <p id="modalDuplicateLoading" class="d-none">
                                    <i class="fas fa-spinner fa-spin"></i> Sending ...</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-start">
                                <input type="hidden" id="modalDuplicateId" value="">
                                <button type="button" class="btn btn-success pointer"
                                        id="modalDuplicateBtn">Duplicate</button>
                                <button type="button" class="btn btn-secondary pointer" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="modal fade" id="modalLeaveBoard" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header {{ board.background }}">
                                <h5 class="modal-title text-light">Leave {{ board.name }}</h5>
                                <button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Do you really want to leave this project?</p>
                                <p class="text-secondary">You will loose the right to see/edit this project and all its
                                    issues .</p>
                                <p id="modalLeaveBoardLoading" class="d-none">
                                    <i class="fas fa-spinner fa-spin"></i> Sending ...</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-start">
                                <button type="button" class="btn btn-warning pointer text-light"
                                        id="modalLeaveBoardBtn">Leave</button>
                                <button type="button" class="btn btn-secondary pointer" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="modal fade" id="modalIssueShare" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p><i class="fas fa-spinner fa-spin"></i> Loading data ...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalUserlist" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p><i class="fas fa-spinner fa-spin"></i> Loading data ...</p>
                        </div>
                    </div>
                </div>
            </div>
            {% if board.canUserWrite %}
                <div class="col-md-4 h-100 p-0">
                    <div class="card border-dark px-1 pb-1" >
                        <div class="card-body">
                            <input type="text" placeholder="New issue name" class="pointer borderless w-100 form-control"
                                   id="dashboardIssueName">
                            <div class="mt-3" id="dashboardIssueButtons" style="display: none">
                                <button class="btn btn-success" id="dashboardIssueCreateBtn">Create</button>
                                <button type="button" class="close float-right gaugeCloseBtn mt-1" aria-label="Close"
                                        id="dashboardIssueNameClose">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-0 p-0 d-md-none">&nbsp;</div>
            {% endif %}

            {% if tips is defined and tips|length > 0 %}
                {% set showShareTip = false %}
                {% set showNewIssueTip = false %}
                {% for tip in tips %}
                    {% if tip.name == "sharing" %}{% set showShareTip = true %}{% endif %}
                    {% if tip.name == "createNewIssue" %}{% set showNewIssueTip = true %}{% endif %}
                {% endfor %}
                {% if board.issues|length == 0 and board.canUserWrite and showNewIssueTip == true %}
                    <input type="hidden" id="startTips" value="createNewIssue">
                    <div class="tips-text-60 d-none mt-5" style="left: 30%" id="createNewIssueTipBig">
                        <div class="d-flex justify-content-between">
                            <span> Perfect! </span>
                            <button type="button" class="nobtn mx-2 startTooltip tipsHideForever"
                                    data-toggle="tooltip" data-placement="bottom" title="Don't show any future tips">
                                Turn hints off
                            </button>
                        </div>
                        <p class="pl-2">Divide your project into issues to structure your work.</p>
                        <p class="pl-2">You can manage users in each issue individually or invite them all together.</p>
                        <img src="{{ asset('build/images/arrow_left.b4009a0c.png') }}" width="150px" class="mt-3">
                        <span class="float-right mr-2 mt-5 pointer tips-check">
                            <i class="fas fa-check"></i> Ok, thanks!
                        </span>
                    </div>
                    <div class="tips-text-small d-none" style="top: 80px" id="createNewIssueTipSmall">
                        <div class="d-flex justify-content-between">
                            <img src="{{ asset('build/images/arrow_top.fc5ac9dd.png') }}" width="150px" class="ml-5">
                            <button type="button" class="nobtn startTooltip tipsHideForever">
                                Turn hints off
                            </button>
                        </div>
                        <p class="pl-2">Divide your project into issues to structure your work.</p>
                        <span class="float-right mr-2 mt-2 pointer text-light tips-check">
                            <i class="fas fa-check"></i> Ok, thanks!
                        </span>
                    </div>
                {% elseif showShareTip == true and
                    (board.canUserManage or (board.isShareEnabled and board.thisuserrights.boardhistory is not null)) %}
                    <input type="hidden" id="startTips" value="sharing">
                    <div class="tips-text-top-50 d-none mt-5 pl-5 pt-3"  id="sharingTipBig">
                        <div class="d-flex justify-content-between">
                            <button type="button" class="nobtn mx-2 startTooltip pointer tipsHideForever text-light"
                                    data-toggle="tooltip" data-placement="bottom" title="Don't show any future tips">
                               Turn hints off
                            </button>
                            <img src="{{ asset('build/images/arrow_top_right.c2debfbb.png') }}"
                                 width="150px" class="mr-5 pr-3">
                        </div>
                        <p class="pl-2">Share whole project easily with anyone by link, e-mail or
                            their in-app name.</p>
                        <p class="pl-2">Manage everyone's access rights individually.</p>
                        <p class="pl-2 text-secondary">TIP: You can also share each issue separately in issue settings.</p>
                        <span class="float-right mr-2 pointer text-light tips-check">
                            <i class="fas fa-check"></i> Perfect!
                        </span>
                    </div>
                    <div class="tips-text-top-small d-none mt-3" id="sharingTipSmall">
                        <img src="{{ asset('build/images/arrow_top_right.c2debfbb.png') }}"
                             width="150px" class="mr-5 float-right">
                        <p class="pl-2">Share project by link, e-mail or in-app name.</p>
                        <p class="pl-2">Manage everyone's access rights individually.</p>
                        <span class="float-right mr-2 mt-2 pointer text-light tips-check">
                            <i class="fas fa-check"></i> Perfect!
                        </span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </main>

{% endblock %}
