
<div id="issueCard{{ issue.pageId }}NormalSection" class="d-block">
    <div class="card-header clearfix pr-1 pb-0 {% if isArchived %}bg-muted{% else %}bg-white{% endif %}">
        <h5 class="float-left text-dark mt-1"
            style="max-width: {% if issue.activeUsers|length > 1 %}60%{% else %}75%{% endif %}">
            <a href="../../{{ issue.url }}" title="{{ issue.name }}"
               class="overflow-text {% if isArchived %}text-dark{% endif %}">{{ issue.name }}</a></h5>
        <div class="dropdown float-right">
            {% if not isArchived and
                (issue.canUserManage
                or (issue.canUserRead
                    and issue.isShareEnabled
                    and issue.sharerights  is  constant ('App\\Entity\\Issue::ROLE_READ'))
                or ( issue.canUserWrite and issue.isShareEnabled))%}
                <button type="button" class="nobtn float-right text-dark mt-1 pointer"
                        id="dropdownCard{{ issue.link }}"
                        data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                    <i class="fas fa-ellipsis-v text-dark mx-2"></i>
                </button>
                <div class="dropdown-menu my-dropdown dropdown-menu-right" aria-labelledby="dropdownCard{{ issue.link }}">
                    {% if issue.canUserManage or (issue.isShareEnabled and issue.thisuserrights.issuehistory is not null)%}
                        <button class="dropdown-item pointer issueShare btn-link px-3 py-1" data-id="{{ issue.pageId }}"
                                data-toggle="modal" data-target="#modalIssueShare">Share</button>
                    {% endif %}
                    {% if issue.canUserManage %}
                        <button class="dropdown-item pointer btn-link px-3 py-1" data-target="#modalEntityDelete"
                                data-type="issue" data-color="#secondary" data-operation="delete"
                                data-name="{{ issue.name }}" data-id="{{ issue.pageId }}" data-toggle="modal">
                            Delete issue</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="float-right d-none d-md-block">
            {% for user in issue.activeUsers %}
                {{ include('user/user-icon.html.twig', {'user': user, 'size': 'small', 'entity': issue}) }}
            {% endfor %}
        </div>
    </div>

    <div class="bg-white card-img-top">
        {{ include('graphs/graph.html.twig', { 'gauges': issue.gauges,
            'gauge_name': issue.id,
            'issue_id': issue.id}) }}
    </div>

    <div class="card-body pb-1 pt-2">
        {% if issue.countGaugeComments > 0 %}
            {% for comment in issue.latestGaugeComments %}
                <div class="d-flex justify-content-between">
                    <b title="{{ comment.gauge.name }}: {{ comment.oldValue }} > {{ comment.value }} %"
                       class="startTooltip" data-toggle="tooltip" data-placement="right" >
                        {{ comment.user.username }}</b>
                    <span class="text-secondary" title="{{ comment.time }}">{{ comment.timetext }}</span>
                </div>
            {% endfor %}
            {% if issue.countGaugeComments > 2 %}
                <div class="text-smallcaps text-right">
                    <a href="../../{{ issue.url }}">And {{ issue.countGaugeComments-2 }} more changes
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
<div id="issueCard{{ issue.pageId }}DeletedSection" class="d-none">
    <div class="card-header clearfix bg-white pr-1 pb-0">
        <h5>{{ issue.name }}</h5>
    </div>
    <div class="card-body p-3">
        <p id="issueCard{{ issue.pageId }}RestoreLoading" class="d-none"><i class="fas fa-spinner fa-spin"></i>
            Working ...</p>
        <button name="{{ issue.pageId }}" class="btn btn-success pointer issueCardRestore">Restore Issue</button>
    </div>
</div>