
<div class="card-header clearfix bg-white pr-1">
    <h5 class="float-left text-dark mt-1"><a href="../../{{ issue.url }}"> {{ issue.name }} </a></h5>
    <div class="dropdown float-right">
        <button type="button" class="nobtn float-right text-dark mt-1 pointer"
                id="dropdownCard{{ issue.link }}"
                data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
            <i class="fas fa-ellipsis-v text-dark mx-2"></i>
        </button>
        {% if issue.isShareEnabled or issue.canUserManage %}
            <div class="dropdown-menu my-dropdown dropdown-menu-right" aria-labelledby="dropdownCard{{ issue.link }}">
                {% if issue.isShareEnabled or issue.canUserManage %}
                    <button class="dropdown-item pointer issueShare nobtn px-3 py-1" name="{{ issue.link }}"
                            data-toggle="modal" data-target="#modal{{ issue.link }}">Share</button>
                {% endif %}
                {% if issue.canUserManage %}
                    <button class="dropdown-item pointer issueDelete nobtn px-3 py-1" name="{{ issue.PageId }}">
                        Delete issue</button>
                {% endif %}
            </div>
            {{ include('issue/share-modal.html.twig', {'issue': issue}) }}
        {% endif %}
    </div>
    <div class="float-right">
        {% for user in issue.activeUsers %}
            {{ include('user/user-icon.html.twig', {'user': user, 'size': 'small'}) }}
        {% endfor %}
    </div>
</div>
<div class="bg-light card-img-top">
    {{ include('graphs/graph.html.twig', { 'gauges': issue.gauges,
        'gauge_name': issue.link,
        'issue_id': issue.id}) }}
</div>

<div class="card-body">
    {% if issue.countGaugeComments > 0 %}
        <div class="text-smallcaps text-center">
            <a href="../../{{ issue.url }}">Show all {{ issue.countGaugeComments }} changes <i class="fas
            fa-angle-down"></i></a>
        </div>
        {% for comment in issue.latestGaugeComments %}
            <b>{{ comment.user.username }}</b>:
            {{ comment.gauge.name }}&nbsp;{{ comment.oldvalue }}&nbsp;<i class="fas fa-angle-right"></i>&nbsp;<b>{{
            comment.value }}</b>&nbsp;%<br>
        {% endfor %}
    {% endif %}
</div>