
{% set check = true %} {# check all banned users (aka unchecked) and set his check value #}
{% for ban in banned %}
    {% if ban == role.user.id %}
        {% set check = false %}
    {% endif %}
{% endfor %}

<input type="checkbox" id="userChecklist{{ role.user.id }}" value="{{ role.user.id }}" {% if check %}checked{% endif %}>
{% if role.user.isAnonymous %}
    <label for="userChecklist{{ role.user.id }}"
           title="{{ role.user.username }}{% if role.user.anonymousemail == '' %} - no email address!{% else %}: click
            to enable/disable{% endif %}">
        <div class="mr-1 p-0 user-portrait float-left userChecklistAnonymous">
            <i class="fas fa-2x fa-user-circle user-image-anonymous-big position-absolute text-light"></i>
            <div class="user-image-anonymous-bg-big" style="background-color: {{ role.user.color }}"></div>
        </div>
    </label>
    {% if role.user.anonymousemail == '' %}
        <div class="position-relative d-inline-block" style="left: -10px; z-index: 2;"
             title="User has no email defined - will only receive in-app notification">
            <i class="fas fa-exclamation-triangle text-secondary question"></i>
        </div>
    {% endif %}
{% else %}
    <label for="userChecklist{{ role.user.id }}" class="userChecklistLogged">
        <img src="{{ role.user.imagelink }}" class="mr-1 p-0 user-portrait user-image-google-big float-left"
             title="{{ role.user.username }}: click to enable/disable">
    </label>
{% endif %}